#search {
    border-radius: 10px;
    border: 2px solid gray;
    padding: 5px;
    margin: 2px;
}

#searchBtn {
    border-top: 2px solid dodgerblue;
    border-bottom: 2px solid limegreen;
    border-left: 2px solid red;
    border-right: 2px solid gold;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
}